{% extends "layout.html" %}

{% block content %}
<main class = "container signup-section">
  <div class = "section-content">
    {% set i = 0  %}
    {% set j = '0' %}
    <h2> Decide the scores</h2>

    <form method = "POST" action="/picscore3">
      <p class = "nice"><input type="text" name="email"><br></p>

      {% for i in range(10) %}
        <div class = "form-group">
          {% if (i < 10) %}
            <p>
              <div class="section-device"><img src="../static/img/wfacef/img00{{i}}.png" id = "imgclass"></div>
              <div class = "section-device">




              </div>
              <p>
                <p class = "nice">This is picture img00{{i}}.png</p>
                <input type="radio" name="score{{i}}" id="radio{{i}}" value=1 checked>1<br>
                <input type="radio" name="score{{i}}" id="radio{{i}}" value=2>2<br>
                <input type="radio" name="score{{i}}" id="radio{{i}}" value=3>3<br>
                <input type="radio" name="score{{i}}" id="radio{{i}}" value=4>4<br>
                <input type="radio" name="score{{i}}" id="radio{{i}}" value=5>5<br>
              </p
              <br>
            </p>
          {% elif (i < 100) %}
            <p>
              <div class="section-device"><img src="../static/img/wfacef/img0{{i|int}}.png"></div>
              <div class = "section-device">
                <p class = "nice">This is picture img00{{i}}.png</p>
                {{ scores[i] }}
              </div>
            </p>
          {% endif %}
        </div>
      {% endfor %}
      <div class = "section-device">

      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</main>

{% endblock %}
